<br>
<% if user_signed_in? %>
<div class="container"> 
  <h1>Editing Listing</h1>
  
<%= render 'form', listing: @listing %>

</div>
<% else %>
<div class="container" style="text-align: center;">
<h1>Sorry! Not allowed.</h1>
  <%= image_tag("not_found.png", width: "50%") %>
<h4>If this page belongs to you, please <%= link_to "log into", new_user_session_path %> your account </h4>
<h4>Otherwise, please <%= link_to "sign up", new_user_registration_path %> for an account </h4>
</div>
</div>
<% end %>