<br>
<div class="container" style="text-align:center;">
  <h2>Sorry you had to cancel.</h2>
  <p>Please continue to keep an eye on our listings.</p>
  <%= image_tag("undraw_not_found_60pq.png", width: "50%") %>
</div>