<br>
<div class="container" style="text-align:center;">
  <h2>Thank you for your purchase.</h2>
  <p>You should receive a receipt in your email account confirming the transaction.</p>
  <p>If not, please contact us with the purchase information, any website URLs and we will assist as much as we can. </p>
  <%= image_tag("undraw_blooming_jtv6.png", width: "50%") %>
</div>