<br>
<div class="container">
<h1>About Us</h1>
<br>
<p><a href="/">Pre:Loved</a> is a two-sided online marketplace where private owners can list their unused second-hand musical instruments for sale to public and private schools across the Queensland State. 
</p>
<p>As at time of development, it is not clear whether there are any ongoing (publicly-listed) program for the exchange or loan of second-hand musical instruments for Queensland schools. This proof-of-concept is inspired by the <a href="https://www.abc.net.au/triplej/">Triple J Radio Station</a> drive for donating unused music instruments in Christmas 2019. </p>
<p>Education Queensland's <a href="https://education.qld.gov.au/parents-and-carers/activities-music-sports/instrumental-music-program" >Instrumental Music Program </a>is sufficiently mature that access to affordable, under-utilised second-hand musical instruments will alleviate budget strains and provide more opportunities to students across the metropolitan and regional areas.</p>

<p> This is also an MVP product to demonstrate a fundamental understanding of Ruby on Rails, database schemas in the Coder Academy full-stack web developer bootcamp course of 2019/February. </p>

<p>MVP Components include:</p>
<ul>
  <li>Schools can sign up an account to purchase instruments, but not to list instruments for sale. </li>
  <li>Sellers can sign up an account to list their instruments for sale, but they are not allowed to purchase instruments. If they want to buy instruments, go to ebay. </li>
  <li>Stripe transaction </li>
  <li>MVC modelling in the rails framework for CRUD operations with listings, creating roles for authentication/authorisation, cloud storage</li>
  <li>Consolidate learning of CSS, SCSS</li>
</ul> 
<br>
<p><strong>This project is an attempt to understand the principles of Ruby on Rails development and to consolidate coding practise learnt from Coder Academy.</strong></p>

<br>
<h2>Attribution</h2>
The project developer acknowledges the use of the following open-source, non-commercial resources, without which this prototype would not be possible. 
<br><br>
<a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.
</div>