/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import url("https://fonts.googleapis.com/css?family=Gugi");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");

$purple: #4d3794;
$purple_btn: #6443af;

h1,
h2,
h3,
h4,
h5,
p {
	font-family: "Roboto", sans-serif !important;
}

a,
a:link,
a:visited,
a:active {
	color: $purple;
	font-weight: 600;
}

a:hover {
	text-decoration: underline;
	cursor: pointer;
}

/** DEVISE **/
.notice {
	position: absolute;
}

.alert {
	position: absolute;
}

/** HEADER **/
.logo {
	font-family: "Gugi", cursive;
}

#myNav {
	padding-left: 50px;
	padding-right: 50px;
	background: $purple !important;
}

#myNav > * {
	color: White;
}

.navbar {
	height: 6rem;
}

.nav-item-link {
	font-weight: 600;
	margin-left: 50px;
	padding-bottom: 4px;
	border-bottom: 3px solid $purple !important;
	color: white !important;
}

.nav-item-link:hover {
	cursor: pointer;
	transition: 0.5s ease;
	border-bottom: 3px solid white !important;
	color: white !important;
	text-decoration: none;
}

#navbarSupportedContent {
	margin-top: 12px;
}

/** FOOTER **/
.footer {
	background: #282828;
	height: 8rem;
	color: #999;
	padding: 55px;
	font-size: 0.8rem;
	width: 100%;
	position: relative;
}

.col:nth-child(1) {
	margin-top: -10px;
}
.col:nth-child(2) {
	color: white;
	float: right !important;
	text-align: right;
}
