// Place all the styles related to the Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pagination {
	span {
		padding-right: 10px;
	}
}

.listing_view {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: flex-start;
}

.listing_view_side:nth-child(2) {
	width: 100%;
}

.listing_view_side:nth-child(2) {
	width: 50%;
}
.listing_view_btn {
}
