// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/** SHOW PROFILE/LISTING STYLING **/
.profile .avatar {
	.wrapper {
		width: 140px;
		height: 80px;
		margin: 20px auto;
	}
	.wrapper img {
		width: 100%;
		border-radius: 50%;
	}
}
.profile .basic-info {
	padding: 20px 0;
	.user-wrapper {
		display: flex;
	}
	.edit-profile {
		margin-left: 20px;
		margin-top: 20px;
	}
	.posts {
		padding-left: 0;
		display: inline;
		padding-right: 40px;
		font-size: 1rem;
		span {
			color: #262626;
			font-weight: 900;
		}
	}
	.name {
		font-size: 15px;
		font-weight: 600;
	}
	.website {
		color: #003569;
		text-decoration: none;
		font-size: 15px;
		font-weight: 600;
	}
}
.username {
	font-size: 30px;
	line-height: 40px;
	font-weight: 300;
}

/** EDIT PROFILE STYLING **/

.avatar,
.avatar-photo {
	height: 140px;
	width: 140px;
	border-radius: 50%;
}
