<div class="footer">
<div class="container ">
  <div class="row">
    <div class="col">
    A non-profit project inspired by the Triple J and Salvation Army Christmas Drive 2018 as demonstration of a rudimentary two-sided marketplace built on Rails. 
    </div>
    <div class="col">
    <p>2019 &#169; PreLoved Music Exchange Initiative </p>
    </div>
  </div>
</div>
</div>